altair
asgiref
attrs
beautifulsoup4
blinker
bs4
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
dj-database-url
Django
django-cors-headers
django-extensions
django-oauth-toolkit
djangorestframework
djangorestframework-simplejwt
drf-yasg
firebase-admin
Flask
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
inflection
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
jwcrypto
markdown-it-py
MarkupSafe
mdurl
msgpack
narwhals
numpy
oauthlib
opencv-python
packaging
pandas
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydeck
pydotplus
Pygments
PyJWT
pyparsing
python-dateutil
python-dotenv
python3-openid
pytz
PyYAML
referencing
requests
requests-oauthlib
rest-framework-simplejwt
rich
rsa
six
smmap
social-auth-app-django
social-auth-core
soupsieve
sqlparse
streamlit
stripe
tenacity
toml
tornado
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
whitenoise
